
@model PeopleViewModel

<h1>Ajax </h1>


<row class="d-flex flex-row justify-content-around">
    <input type="submit" value="People" onclick="listPeople()" class="btn btn-info custom-width" />
    <div>
        <input type="submit" value="Details" onclick="personDetails() " class="btn btn-info custom-width" />
           <input type="text" id="personId" placeholder="Enter id" Id ="Id" />
           
    </div>
    
    <input type="button" value="Delete" id="deleteBtn" onclick="deletePerson()" class="btn btn-info custom-width" />
</row>

<div id="show" class="container-fluid md">
</div>