@model IEnumerable<Country>

<div class="row align-items-end" style="margin-left:1px">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Country</th> 
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var country in Model)
            {
                <tr>
                    <td> @country.Id</td>
                   
                    <td> @country.Name</td>
                    
                     
                    
                    <td> <button type="submit" name="id" value="@country.Id"><i class="bi bi-trash"></i></button></td>
                </tr>


            }
        </tbody>
    </table>
</div>