@model IEnumerable<City>
  <a asp-controller="City" asp-action="AddCity">Add City</a> 

    <div class="row align-items-end" style="margin-left:1px">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>City</th>
                    <th>Edit</th>
                    <th>Delete</th>
                   
                </tr>
            </thead>
            <tbody>

                @foreach (var city in Model)
                {
                    <tr>
                        <td> @city.Id</td>
                        <td> @city.Name</td>
                           @if (User.IsInRole("Admin"))
    {
                        <td><a asp-action="Delete" asp-route-id="@city.Id" class="bi bi-trash"></a></td>
    }
                    <td>
                        <a asp-action="Edit" asp-route-id="@city.CountryId">Edit</a>
                    </td>
                    </tr>
                }
                

            }
            </tbody>
        </table>
    </div>