

body {
    font-family: cursive;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: px;
    background-color: teal;
    color: #fff;
}

.nav-links a {
    color: #fff;
}


.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: hsl(230, 30%, 10%);
    color: white;
    padding: 40px 0 120px 0;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}
