


<h1>GuessGame</h1>

<form asp-action="GuessGame" method="post">
  
    <label>Guess a number: between 100 - 1 </label>
    <input type="number" name="nummer"/>
    <input type="submit" value="Check" />
</form>


@if(ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
    <p>@ViewBag.Count</p>
}